*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-items{
    width: 1080px;
    min-height: 200px;
    border: 20px solid tomato;
    display: flex;
    gap: 10px;
}

p {
    font-size: 20px;
}

.exer01 {
    align-items: center;
}

.exer02 {
    align-items: center;
    justify-content: center;
}

.exer03 {
    align-items: flex-end;
    justify-content: flex-end;
}

.exer04 {
    align-items: center;
    justify-content: space-between;
}

.exer05 {
    align-items: center;
    justify-content: space-around;
}

.exer06 {
    align-items: center;
    justify-content: space-evenly;
}

.exer07  {
    align-items: center;
    justify-content: flex-end;
}

.exer07 :nth-child(1) {
    margin: auto;
    margin-left: inherit;
}

.exer08 {
    align-items: center;
    flex-direction: column;
}

.exer09 {
    align-items: flex-end;
    flex-direction: column;
}

.exer09 :nth-child(3) {
    width: 100%;
    background-color: lightcoral;
}

.exer10 {
    align-items: center;
}

.exer11 {
    flex-wrap: wrap;
}

.exer12 {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.exer12 :nth-child(11) {
    flex-grow: 50;
}

.exer12 :nth-child(2n+1) {
    background-color: lightcoral;
}

.exer13 {
    flex-wrap: wrap;
}

.exer13 :nth-child(2n+1) {
    background-color: lightcoral;
    flex-grow: 1;
    width: 50%;
}
